.btn {

    background-color: #ffffff;
    color: #2c0fef;
    width: 200px;
    /* height: 40px; */
    border-radius: 4px;
    border: solid 2px #2c0fef;
    padding: 0.3em;
    margin: auto;
    margin-top: auto;
}

.btn:hover {
    cursor: pointer;
    background-color: #2c0fef;
    color: #ffffff;
}