* {
  padding: 0;
  margin: 0;
  /* border: none; */
  list-style: none;
  /* font-family: OpenSans; */
  font-family: Roboto;
  color: #000000;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.title h2 {
  color: #2364d2;
  font-weight: 900;
  letter-spacing: 1.5px;
}